*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family:'roboto';
    src: url(/font/Roboto-Medium.ttf);
}
@font-face {
    font-family: 'gotham';
    src:url(/font/GothamBold.ttf) format('truetype') ;
    font-weight: normal;
    font-style: normal;
}
main{
    margin: 0px;
    padding: 50px;
    background: white;
    justify-content: center;
}
html{
    font-family: sans-serif;
}
p{
    font-family: roboto, sans-serif;
    font-size: 16px;
}
h1{
    font-family: 'gotham', sans-serif;
    font-size: 30px;
}

/*header*/

.img-index-txt h1{
    border-bottom: -50px;
    position: relative;
    text-align: center;
    justify-content: center;

}
.img-index{
    width: 100%;
    height: 100%;
    background-image: url(/img/img-index-filme.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -50;
    text-align:center;
    align-content:center;
    padding-top:360px;
    padding-bottom: 360px;
    color: white;
}
.img-index h1{
    font-family: 'gotham', sans-serif;
    font-size: 73px;
    /*padding-bottom: 80px;*/
}


header{
    width: 100%;
    height: 100%;

}
nav{
    width: 100%;
    height: 100px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}
.logo-menu{
    margin-left: 100px;
    margin-right: 100px;
}
.menu{
    width: 590px;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
}

nav a, li{
    font-family: 'gotham', sans-serif;
    color: black;
    text-decoration: none;
}
nav li{
    list-style: none;
}

/*header*


/*SOBRE-FICHA*/
    /*SOBRE*/

    #sobre-ficha{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
    }
    #sobre-ficha{
        font-family: 'gotham', sans-serif;
        padding-bottom: 30px;
    }
    #sobre-ficha h1{
        font-size: 30px;
        padding-bottom: 30px;
    }
    .ficha-tecnica h1{
        text-align: center;
    }
    
    .pre-filme{
        width: 530px;
        height: 675px;
        margin-left: 60px;
    }
    .caixa-baixa a{
        text-decoration: none;
        color: white;
    }
    .pre-filme img{
        border-radius: 30px;
        box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.77);
        width: 530px;

    }
    .pre-filme p{
        padding-top: 40px;
        font-family: 'roboto';
        text-align: justify;
    }
        /*SOBRE*/
    
    /*CARD "SOBRE"*/
    .info-card{
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
    .info-card p{
        font-family: 'roboto';
    }
    .info-card h2{
        padding-top: 5px;
        padding-bottom: 5px;
        font-family: 'gotham';
    }
    
    .card{
        background: gray;
        width: 475px;
        height: 675px;
        margin: 0px 50px 0px 0px;
        border-radius: 30px;
        color: white;
        box-shadow: 4px 3px 15px rgba(0, 0, 0, 0.77);
    }
    
    .caixa-alta p{
        font-size: larger;
        height: 52px;
        font-family: 'gotham';
    }
    .caixa-baixa p{
        text-align: center;
        height: 52px;
        font-family: 'roboto';
    }
    .caixa-baixa img{
        width: 20px;
    }
    
    .content{
        height: 505px;
        margin: 0px 40px 0px 30px;
        justify-content: space-between;
        display: flex;
    }
        /*CARD "SOBRE"*/
    /*SOBRE-FICHA*/



/*PRODUÇÃO*/
#produçao{
    margin: 120px 0px 150px 60px;
    text-align: justify;
}
#produçao h1{
    font-size: 33px;
    font-family: 'gotham', sans-serif;
    padding-bottom: 10px;
    padding-top: 20px;
}
#produçao p{
    padding-top: 25px;
    padding-bottom: 8px;
    font-size: 17px;
    font-family: 'roboto', sans-serif;
}
/*PRODUÇÃO*/



/*FOOTER*/
footer h3{
    color: white;
    font-size: 30px;
    font-family: 'gotham', sans-serif;
}
.conteiner-footer h3{
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'gotham';
}
footer p{
    font-size: 16px;
    font-family: 'roboto' ;
    border-bottom: 1px solid white;
    margin-bottom: 45px;
    color: white;
    width: 300px;
}
.footer-diretores{
    margin-top: 35px;
}
footer{
    width: 100%;
    height: 450px;
    background: #4D4D4D;
    display: flex;
    justify-content: space-between;
    z-index: -500;

}

.conteiner-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 60px 110px;
    margin: 0px 125px 0px 50px;
}
.footer-diretores{
    padding-top: 35px;
}
.subir{
    margin-left: 913px;
    margin-bottom: -40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background: #535353;
}
footer a{
    text-decoration: none;
}
/*FOOTER*/